
*,
*::before,
*::after {

}
p {
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link-navigation .container a {
    text-decoration: none;
}

body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
    max-width: 100%;
     height: auto;
}
.visually-hidden{
    
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    outline: 0;
        outline-offset: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


.main-page-navigation-link{
    color: #2e2f42;
}

.main-page-navigation .link:hover{
    color: #404bbf;
}
.main-page-navigation .link:focus{
    color: #404bbf;
} 
.page-title {
    background-color: #2e2f42
}
.page-title .link:hover{
    background-color: #404BBF; 
}
 
.page-title .link:focus{
    background-color: #404BBF;
}
.link-navigation .container{
    width: 1158px;
        padding: 0 15px;
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid #e7e9fc;
}
.link-navigation {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

.main-page-navigation > a {
    font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em; 
     text-transform: uppercase;
     color: #4d5ae5;
    margin-right: 76px;
    display: flex;
    }
    .link.current {
        color: #404bbf;
    }
    .link.current {
        position: relative;
    }
    .link.current::after {
        content: "";
width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
left: 0;
bottom: -1px;
background-color: #404bbf;
    }

    .main-page-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;

    }
.social-navigation  a {
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
    padding-top: 24px; 
     padding-bottom: 24px;
     display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-navigation {
    display: flex;
    gap: 40px;
}
.social-contacts {
    display: flex;
    gap: 40px;
    
}

.main-page-contacts{
    font-style: normal;
   color: #434455;
}   

.social-contacts .link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-contacts {
    color: #434455;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
     

}
 
.social-contacts .link:hover{
    color: #404bbf;
}
.social-contacts .link:focus {
    color: #404bbf;
}

.page-title {
    padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/people-office.jpg); 
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
   
    
  
        
}

.page-title-main {
    
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
max-width: 496px;
margin: auto;
margin-left: auto;
text-align: center;
padding-bottom: 48px;
}
.page-title .link {
    
    background: rgba(77, 90, 229, 1);

}
.page-title .link :hover {
    background: rgba(64, 75, 191, 1);

}
.page-title  button{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background: rgba(77, 90, 229, 1);
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
cursor: pointer;
display: block;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.page-text-studio {
   
    padding-top: 120px; 
    padding-bottom: 120px;
    
}
.text {
    display: flex;
    gap: 24px;
}
.page-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.item-border {
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px; 
}
.main-text {
    width: calc((100% - 72px) / 4);
}
.page-text-paragraph {  
     font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    
    font-size: 16px;
}

.item-border {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-text h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
}
.page-text p {
    font-family: "Roboto", sans-serif;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
background-color: #F4F4FD;
font-size: 16px;
}
.employees {
    padding-top: 120px;
        padding-bottom: 120px;
        background-color: #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    }
    .employees .container {
       
        padding-top: 120px; 
        padding-bottom: 120px;
        
    }
   
    .employees-icon {
        width: 40px;
        height: 40px;
       
    }
   
   
    .link-icon {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
       display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-icon:hover{
        background-color: #404bbf
    }
    .link-icon:focus{
        background-color: #404bbf;
    }
    .icon {
        fill: #f4f4fd;
    }
  
    .employees  h2 {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
    
    color: #2e2f42;
    
    
    }
    .employees-card {
        display: flex;
        gap: 24px;
        list-style: none;
    }
    .employees-main {
        text-transform: capitalize;
        
        margin-bottom: 72px;
    }
    .employees-paragraph {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
        text-align: center;
        }
    .employees-managers {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42; 
        text-align: center;
        margin-bottom: 8px;
        
    }
    .icon-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        fill: #F4F4FD;
        padding-top: 8px;
        
    }
    
    

    
    .card {
        padding-top: 32px; 
        padding-bottom: 32px;
        
    }
    .employees-photo {
        
        width: calc((100% - 72px) / 4); 
        border-radius: 0px 0px 4px 4px; 
        background-color: #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    }

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transform: translateY(0%);
}
.page-apps {
    padding-top: 120px; 
    padding-bottom: 120px;
    background-color: #FFFFFF;
}
.portfolio-card:hover .paragraph-list {
    transform: translate(0);
}


.page-apps-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.page-apps-main-text {
    margin-bottom: 8px;
}
.apps-card {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
  margin:  0 auto;
}
.page-apps .container li {
    width: calc((100% - 48px) / 3);
}
.page-apps .container {
    width: 1158px;
        padding: 0 15px;
        
        margin: 0 auto;
}
.app-list {
    position: relative;
    overflow: hidden;
}
.paragraph-list {
    position: absolute;
    top: 0;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    padding: 40px 32px; 
    background-color: #4d5ae5;
   height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-app {
    padding: 32px 16px ;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc; 
    border-right: 1px solid #e7e9fc;
    border-top: none ; 
 
}

.page-apps-main-text {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.page-apps-main-text-paragraph {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.page-underside {
    background-color: #2e2f42;
    padding-top: 100px; 
    
    padding-bottom: 100px;
}
.main-page-navigation-link-under{color: #f4f4fd;

}
.page-underside > .container {
    display: flex;
    align-items: baseline;
    
}
.underside {
    margin-right: 120px;
}

.page-underside .link {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
margin-left: auto;
margin-right: auto;
text-decoration: none;
}

.page-underside-paragraph{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
padding-left: auto;
padding-right: auto;
}
.logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-left: auto;
            padding-right: auto;
            text-decoration: none;
}
.social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF; 
   margin-bottom: 16px;
}
.icon-list-underside {
    display: flex;
    gap: 16px;
    justify-content: center;
    fill: #F4F4FD;
    
    
}
.underside-icon {
    width: 40px;
    height: 40px;
}
.link-icon-underside {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
   display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link-icon-underside:hover{
    background-color: #31d0aa;
}
.link-icon-underside:focus {
    background-color: #31d0aa;
}

.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px; 
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
    border-radius: 50%;
    background-color: #E7E9FC;
    line-height: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
    background-color:#404BBF;
    fill: #FFFFFF;
    border: none;
}
.close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-paragraph {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.modal-form-label {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.modal-input {
 width: 360px;
 border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
padding-left: 38px;
outline: none;
background-color: transparent; 
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus {
    border-color: #4D5AE5; 
    fill: #4D5AE5;
}
.modal-input:focus + .modal-icon{
fill: #4D5AE5;
}
.modal-cont-input {
    position: relative;
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 16px
}


.form-wrapper-cont {
    margin-bottom: 8px;
    
}
.modal-form-label-coment {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;

}
.modal-con-checkbox {
    margin-bottom: 24px;
}
.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 360px;
height: 120px;
resize: none;
outline: transparent;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
background-color: transparent;
padding: 8px 16px; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-textarea .placeholder {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus{
    border: 1px solid #4d5ae5;
}
.modal-form-label-coment {
    display: block;
    padding-bottom: 4px;
}
.form-wrapper-cont-coment {
    margin-bottom: 16px;
}
.custom-chekbox {
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display:inline-flex ;
justify-content: center;
align-items: center;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: transparent;
}
.checkbox:checked + .custom-label-user-checkbox > .custom-chekbox {
    border-color: transparent;
    background-color: #404BBF;
    margin-right: 8px;
    border: none;
    fill:#F4F4FD; 
}
.custom-label-user-checkbox {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px; 
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}
.modal-link {
    color: #4d5ae5; 
}
.modal-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background: rgba(77, 90, 229, 1);
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
padding: 16px 32px;
width: 169px;
height: 56px;
}
.modal-footer-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.modal-footer-form {
    display: flex;
    gap: 24px;
}
.modal-footer {
    margin-left: 80px;
font-style: normal;
}
.modal-footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px;
    color: #ffffff; 
   
}
.modal-footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
    font-weight: 500; 
    line-height: 1.5 ;
    letter-spacing: 0.04em ;
    color: #ffffff ;
    cursor: pointer ;
    background-color: #4D5AE5 ;
    border: none; 
    border-radius: 4px; 
}
.modal-footer-icon {
    margin-left: 16px;
}